/* ====================
    colors
   ====================
*/

:root {
    --default: #e04949;
    --blue: #2d84fb;
    --lightGreen: #67c56e;
    --yellow: #f89d36;
    --purple: #662e9b;
    --black1: #212529;
    --black2: #3c4858;
    --backgroundColor: #f9fafd;
    --white: #fff;
}

/* ====================
    Reset
   ====================
*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body,
input {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: var(--black1);
    background-color: var(--backgroundColor);
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 114rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 90rem;
    }
}

/* ====================
    Header
   ====================
*/

.header {
    background-image: linear-gradient(105deg, var(--backgroundColor) 0%, #fff 65%,
            var(--default) 50%);
    height: calc(100vh + 8rem);
}

/* ====================
    Navigation
   ====================
*/

.social__menu li svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--backgroundColor);
}

.hamburger {
    display: none;
}


.navigation {
    padding: 1.6rem 1rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
    max-width: 114rem;
    margin: 0 auto;
}

.fix__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.fix__nav .social__menu li svg {
    fill: var(--black2);
    transition: all .3s ease-in-out;
}

.fix__nav .social__menu li:hover svg {
    fill: var(--backgroundColor);
}

.fix__nav .social__menu li {
    border-color: var(--black2);
}

.fix__nav .social__menu li:hover {
    border-color: var(--black2);
    background-color: var(--default);
}

.logo h1 {
    font-size: 2.5rem;
    font-weight: 400;
}


.nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 70%;
}

.nav__list,
.social__menu {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: .5rem;
}

.nav__link:link,
.nav__link:visited {
    padding: 1rem;
    color: var(--black2);
    font-size: 1.3rem;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.nav__link:hover {
    color: var(--default);
}

.social__menu li {
    border: .7px solid var(--backgroundColor);
    padding: .7rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.social__menu li:hover {
    border-color: transparent;
}

.social__menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__menu li:not(:last-child) {
    margin-right: 1rem;
}


/* =======================
    Navigation Media Query
   =======================
*/

@media only screen and (max-width: 1200px) {
    .nav__menu {
        width: 80%;
    }
}


@media only screen and (max-width: 996px) {
    .header {
        background-image: linear-gradient(var(--backgroundColor), var(--backgroundColor))
    }

    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--white);
    }

    .nav {
        display: block;
        justify-content: start;
        align-items: flex-start;
        width: 90%;
        max-width: 100%;
    }

    .nav__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .nav__menu {
        height: 0;
        overflow: hidden;
        transition: all .3s ease-in-out;
        display: flex;
        align-items: flex-start;
        justify-content: start;
        flex-direction: column;
    }

    .logo h1 {
        font-size: 3rem;
    }

    .hamburger {
        padding: .3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--default);
        border-radius: .2rem;
        cursor: pointer;
    }

    .hamburger svg {
        width: 3rem;
        height: 3rem;
        fill: var(--backgroundColor);
    }

    .nav__list {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1.6rem;
    }

    .nav__item:not(:last-child) {
        margin-right: .5rem;
    }

    .nav__list .nav__item {
        width: 100%;
    }

    .nav__list .nav__link:link,
    .nav__list .nav__link:visited {
        display: block;
        font-size: 1.4rem;
        padding: 1rem;

    }

    .social__menu {
        padding: 0 1rem;
    }

    .social__menu li {
        border: .5px solid var(--black2);
        padding: .5rem .8rem;
    }

    .social__menu li svg {
        fill: var(--black2);
        transition: all .3s ease-in-out;
    }


    .social__menu li:hover {
        border: .5px solid var(--black2);
        background-color: var(--default);
    }

    .social__menu li:hover svg {
        fill: var(--backgroundColor);
    }

    .social__menu li:not(:last-child) {
        margin-right: .5rem;
    }


}

@media only screen and (max-width: 768px) {}

/* =======================
    Hero
   =======================
*/
.hero {
    height: 100vh;
}