/* ====================
    colors
   ====================
*/
:root {
  --default: #e04949;
  --default2: #e61616;
  --blue: #2d84fb;
  --blue2: #2706df;
  --lightGreen: #67c56e;
  --lightGreen2: #08aa12;
  --yellow: #f89d36;
  --yellow2: #db7807;
  --purple: #662e9b;
  --purple2: #4c0094;
  --black1: #212529;
  --black2: #3c4858;
  --grey: #8492a6;
  --backgroundColor: #f9fafd;
  --white: #fff;
}

/* ====================
    Reset
   ====================
*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body,
input {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: var(--black1);
  background-color: var(--white);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* @media only screen and (max-width: 1200px) {
  .container {
    max-width: 90rem;
  }
} */
@media only screen and (max-width: 996px) {
  .container {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 3rem;
  }
}

/* ====================
    Header
   ====================
*/

.header {
  position: relative;
}

/* ====================
    Navigation
   ====================
*/

.social__menu li svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--black2);
}

.hamburger {
  display: none;
}

.navigation {
  padding: 1.6rem 1rem;
  position: relative;
  z-index: 1999;
  background-color: var(--backgroundColor);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 90vw;
  max-width: 114rem;
  margin: 0 auto; */
}

.fix__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: 9990;
}

.fix__nav .social__menu li svg {
  fill: var(--black2);
  transition: all 0.3s ease-in-out;
}

.fix__nav .social__menu li:hover svg {
  fill: var(--backgroundColor);
}

.fix__nav .social__menu li {
  border-color: var(--black2);
}

.fix__nav .social__menu li:hover {
  border-color: var(--black2);
  background-color: var(--default);
}

.logo {
  cursor: pointer;
}

.logo h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--default);
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 70%;
}

.nav__list,
.social__menu {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav__link:link,
.nav__link:visited {
  padding: 1rem;
  color: var(--black2);
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.nav__link:hover {
  color: var(--default);
}

.social__menu li {
  border: 0.7px solid var(--black2);
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.social__menu li:hover {
  background-color: var(--default);
}

.social__menu li:hover svg {
  fill: var(--backgroundColor);
  transition: all 0.3s ease-in-out;
}

.social__menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__menu li:not(:last-child) {
  margin-right: 1rem;
}

/* =======================
    Navigation Media Query
   =======================
*/
@media only screen and (max-width: 1200px) {
  .nav__menu {
    width: 80%;
  }
}

@media only screen and (max-width: 996px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
  }

  .nav {
    display: block;
  }

  .nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nav__menu {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
  }

  .logo h1 {
    font-size: 3rem;
  }

  .hamburger {
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--default);
    border-radius: 0.2rem;
    cursor: pointer;
  }

  .hamburger svg {
    width: 3rem;
    height: 3rem;
    fill: var(--backgroundColor);
  }

  .nav__list {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.6rem;
  }

  .nav__item:not(:last-child) {
    margin-right: 0.5rem;
  }

  .nav__list .nav__item {
    width: 100%;
  }

  .nav__list .nav__link:link,
  .nav__list .nav__link:visited {
    display: block;
    font-size: 1.4rem;
    padding: 1rem;
  }

}

/* 
==========================
Hero
==========================
*/

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--backgroundColor);
}

.hero__btns svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--default);
  transition: all .3s ease-in-out;
}

.hero__container {
  height: 100%;

}

.hero__center {
  height: 100%;
  text-align: center;
}

.hero__content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.hero__content h1 {
  font-size: 5rem;
  color: var(--default);
  font-weight: 700;
}

.hero__content p {
  color: var(--grey);
  margin-bottom: 2rem;
}

.hero__btns a {
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--white);
  border-radius: 1rem;
  border: 1px solid var(--default);
}

.hero__btns .hire {
  background-color: var(--default);
  transition: all .3s ease-in-out;

}

.hero__btns .hire:hover {
  background-color: var(--default2);
}

.hero__btns .download {
  color: var(--default);
  transition: all .3s ease-in-out;
}

.hero__btns .download:hover {
  border: 1px solid var(--default);
  background-color: var(--default);
  color: var(--white);
}

.hero__btns .download:hover svg {
  fill: var(--white);
}



.goto-next {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: down 1s ease-in-out infinite;
}

.goto-next a span {
  background-color: var(--default);
  padding: 1rem 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goto-next svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--backgroundColor);
}

@keyframes down {
  0% {
    top: 85%;
  }

  50% {
    top: 88%;
  }

  100% {
    top: 85%;
  }
}

/* 
==========================
Hero Media Query
==========================
*/

@media only screen and (max-width: 996px) {
  .hero {
    padding-top: 8rem;
  }

  .hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

  }

  .hero__content h1 {
    font-size: 4rem;
  }

}

@media only screen and (max-width: 768px) {
  .hero__content {
    width: 90%;

  }

  .hero__content h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 568px) {}

/* =======================
    Color Switch
   =======================
*/

.color__widget svg {
  width: 2rem;
  height: 2rem;
  fill: var(--default);
}

.color__switch {
  position: fixed;
  top: 20%;
  left: -7rem;
  width: 7rem;
  z-index: 9999;
  background-color: var(--backgroundColor);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.color__board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.color__board .color {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.color__board .color:not(:last-child) {
  margin-bottom: 1rem;
}

.color__board .default {
  background-color: var(--default);
}

.color__board .blue {
  background-color: var(--blue);
}

.color__board .light-green {
  background-color: var(--lightGreen);
}

.color__board .yellow {
  background-color: var(--yellow);
}

.color__board .purple {
  background-color: var(--purple);
}

.color__widget {
  position: absolute;
  top: 0;
  right: -3.5rem;
  border-radius: 0 0.7rem 0.7rem 0;
  background-color: var(--white);
  padding: 0.5rem 0.8rem;
}

.color__widget span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.color__widget span svg {
  animation: round 2s linear infinite;
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* =======================
    About section
   =======================
*/

.section {
  padding: 3rem 0;
  height: 50rem;
  position: relative;
}