/* ====================
    colors
   ====================
*/

:root {
  --default: #e04949;
  --default2: #e61616;
  --blue: #2d84fb;
  --lightGreen: #67c56e;
  --yellow: #f89d36;
  --purple: #662e9b;
  --black1: #212529;
  --black2: #3c4858;
  --grey: #8492a6;
  --backgroundColor: #f9fafd;
  --white: #fff;
}

/* ====================
    Reset
   ====================
*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body,
input {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: var(--black1);
  background-color: var(--backgroundColor);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 90rem;
  }
}

/* ====================
    Header
   ====================
*/

.header {
  background-image: linear-gradient(
    105deg,
    var(--backgroundColor) 0%,
    #fff 65%,
    var(--default) 50%
  );
  height: calc(100vh + 8rem);
  position: relative;
}

/* ====================
    Navigation
   ====================
*/

.social__menu li svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--backgroundColor);
}

.hamburger {
  display: none;
}

.navigation {
  padding: 1.6rem 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  max-width: 114rem;
  margin: 0 auto;
}

.fix__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

.fix__nav .social__menu li svg {
  fill: var(--black2);
  transition: all 0.3s ease-in-out;
}

.fix__nav .social__menu li:hover svg {
  fill: var(--backgroundColor);
}

.fix__nav .social__menu li {
  border-color: var(--black2);
}

.fix__nav .social__menu li:hover {
  border-color: var(--black2);
  background-color: var(--default);
}

.logo h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 70%;
}

.nav__list,
.social__menu {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav__link:link,
.nav__link:visited {
  padding: 1rem;
  color: var(--black2);
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.nav__link:hover {
  color: var(--default);
}

.social__menu li {
  border: 0.7px solid var(--backgroundColor);
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.social__menu li:hover {
  border-color: transparent;
}

.social__menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__menu li:not(:last-child) {
  margin-right: 1rem;
}

/* =======================
    Navigation Media Query
   =======================
*/

@media only screen and (max-width: 1200px) {
  .nav__menu {
    width: 80%;
  }
}

@media only screen and (max-width: 996px) {
  .header {
    background-image: linear-gradient(
      var(--backgroundColor),
      var(--backgroundColor)
    );
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
  }

  .nav {
    display: block;
    justify-content: start;
    align-items: flex-start;
    width: 90%;
    max-width: 100%;
  }

  .nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nav__menu {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
  }

  .logo h1 {
    font-size: 3rem;
  }

  .hamburger {
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--default);
    border-radius: 0.2rem;
    cursor: pointer;
  }

  .hamburger svg {
    width: 3rem;
    height: 3rem;
    fill: var(--backgroundColor);
  }

  .nav__list {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.6rem;
  }

  .nav__item:not(:last-child) {
    margin-right: 0.5rem;
  }

  .nav__list .nav__item {
    width: 100%;
  }

  .nav__list .nav__link:link,
  .nav__list .nav__link:visited {
    display: block;
    font-size: 1.4rem;
    padding: 1rem;
  }

  .social__menu {
    padding: 0 1rem;
  }

  .social__menu li {
    border: 0.5px solid var(--black2);
    padding: 0.5rem 0.8rem;
  }

  .social__menu li svg {
    fill: var(--black2);
    transition: all 0.3s ease-in-out;
  }

  .social__menu li:hover {
    border: 0.5px solid var(--black2);
    background-color: var(--default);
  }

  .social__menu li:hover svg {
    fill: var(--backgroundColor);
  }

  .social__menu li:not(:last-child) {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 768px) {
}

/* =======================
    Hero
   =======================
*/
.hero {
  height: 100%;
}
.hero__container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.hero__left {
  position: relative;
  flex: 0 1 60%;
}

.hero__right {
  flex: 0 1 40%;
}

.hero__left,
.hero__right {
  height: 100%;
}

.hero__btns a svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--default);
  transition: all 0.3s ease-in-out;
}

.hero__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero__content .subtitle {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.hero__content .primary__title {
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--default);
  letter-spacing: 1px;
}

.hero__content .title__info {
  font-size: 1.6rem;
  color: var(--grey);
  width: 90%;
  line-height: 1.8;
}

.hero__btns {
  margin-top: 3rem;
}

.hero__btns .hire:link,
.hero__btns .hire:visited {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  border: 1px solid var(--default);
  background-color: var(--default);
  color: var(--white);
  border-radius: 1rem;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}

.hero__btns .hire:hover {
  background-color: var(--default2);
}

.hero__btns .download:link,
.hero__btns .download:visited {
  display: inline-block;
  padding: 0.8rem 2rem;
  border: 1px solid var(--default);
  border-radius: 1rem;
  color: var(--default);
  transition: all 0.3s ease-in-out;
}

.hero__btns .download:hover {
  background-color: var(--default);
  color: var(--white);
}

.hero__btns .download:hover svg {
  fill: var(--white);
}

.goto-next {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: down 1s ease-in-out infinite;
}

.goto-next a span {
  background-color: var(--default);
  padding: 1rem 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goto-next svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--white);
}

@keyframes down {
  0% {
    bottom: 8%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 8%;
  }
}
